* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin-bottom: 500px;
}

/* header */

.navbar {
    height: 70px;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    color: tomato;
}

.menu {
    gap: 10px;
    right: 50px;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    margin-right: 50px;
}

/* main */

.main {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/recipes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .left {
    height: 350px;
    width: 350px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: tomato;
}

.form form {
    background-color: #a9a9a9;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;
    color: #black;
    gap: 5px;
    border-radius: 10px;
}

input {
    color: black;
    border-radius: 5px;
    height: 30px;

}

.btn {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: tomato;
    border: none;
    cursor: pointer;

}

/* marketing text */

.inform {
    height: 120px;
    background-color:#a9a9a9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imgs */

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url("../img/recipe1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}


.img2 {
    background-image: url("../img/recipe2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.img3 {
    background-image: url("../img/recipe1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.recipe-description {
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
/* description */

.description {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/recipes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin-top: 70px;
    color: #fff;
}

/* container recipes */

.all-recipes {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.first-recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.ingredients-recipe {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 50px;
}

.first-img-recipe {
    padding: 50px;
}

.first-recipe ol li { 
    margin-left: 10px;
}